    body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;

}

    img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:600px;
    height:auto;
  }
  button {
    font-size: 20px;
}

    .text {
    max-width:600px;
    width:100%;
}
    .chilli-crab-ingredients {
        list-style-type: '🦀';
    }

    .chicken-sandwich-ingredients {
        list-style-type: '🥪';
    }

